/*
    This file is shared between platforms
*/
$dark-brand-color: #57468e ;
$brand-color : #725ac1;
$light-brand-color: #e2ddff;
$dark-bg: #242038;
$light-bg: #ffffff;
$dark-font: #242038;
$light-font: #ffffff;
