/*
    This file is imported from app/app.scss in webapp mode
*/

@import 'styles/_variables.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
h1 {
    color: $brand-color;
}

.button{
    padding: 10px;
    background-color: transparent;
    color: $brand-color;
    border: 2px solid $brand-color;
    border-radius: 5px;
}

.button:hover{
    padding: 10px;
    background-color: $brand-color;
    color: $light-font;
    border: 2px solid $brand-color;
    border-radius: 5px;
}

.button:active{
    padding: 10px;
    background-color: $dark-brand-color;
    color: $light-font;
    border: 2px solid $dark-brand-color;
    border-radius: 5px;
}

.button-rm{
    padding: 10px;
    background-color: transparent;
    color: $dark-brand-color;
    border: 2px solid $dark-brand-color;
    border-radius: 5px;
}

.button-rm:hover{
    padding: 10px;
    background-color: $dark-brand-color;
    color: $light-font;
    border: 2px solid $dark-brand-color;
    border-radius: 5px;
}

.button-rm:active{
    padding: 10px;
    background-color: $dark-bg;
    color: $light-font;
    border: 2px solid $dark-bg;
    border-radius: 5px;
}

.navbar-custom-brand{
    background-color: $brand-color;
    color: $light-font;
    border-radius: 0;
}
