/*
    This file is imported from app/app.scss in nativescript mode
*/

@import 'styles/_variables.scss';

.h1 {
    font-size: 30;
}

.h2 {
    font-size: 15;
}

.action-bar{
        color: $light-brand-color;
        background-color: $brand-color;
}

.page{
    background-color: $light-bg;
    color: $dark-font;
}

.product{
    background-color: $card-bg;
    color: $dark-font;
    margin: 2;
    border-radius: 10;
    padding: 10;
}

.bold{
    font-weight: bold;
}

.button{
    background-color: transparent;
    color: $dark-font;
    border-radius: 10;
    border-color: $dark-bg;
    border-width: 2;
    margin: 2;
}

.product-button{
    background-color: transparent;
    color: $dark-font;
    border-radius: 10;
    border-color: $dark-bg;
    border-width: 2;
    margin: 2;
}
