node_modules
platforms
hooks
typings
server/typings

dist
lib
.baseDir.ts
.tscache
*.iml
*.log
*.css
*.traineddata

app/*.scss
app/**/*.js
app/**/*.map
app/css
app/theme-core-scss
!app/client/*.scss
!app/styles/*.scss
!app/app.scss

server/**/*.js
server/**/*.map

common/**/*.js
common/**/*.map

