node_modules
platforms
hooks
typings
server/typings

lib
.baseDir.ts
.tscache
*.iml
*.log
*.css
*.traineddata

app/**/*.js
app/**/*.map

server/**/*.js
server/**/*.map

common/**/*.js
common/**/*.map

lib
