<GridLayout rows="*,9*">
    <GridLayout row="0" columns="*,6*,*" class="action-bar">
        <Label col="1" [text]="title" class="h1 bold" verticalAlignment="center"></Label>
    </GridLayout>
    <GridLayout row="1" padding="5" class="page">
        <StackLayout>
            <Label [text]="description" class="h2" textWrap="true"></Label>
            <Label *ngIf="loadedProduct" text="Loaded product: {{loadedProduct.name}}"></Label>
            <GridLayout>
                <ScrollView>
                    <StackLayout>
                        <StackLayout *ngFor="let product of products" #productElement class="product">
                            <GridLayout rows="*,*" columns="*,auto" marginBottom="10">
                                <Label row="0" col="0" [text]="product.name" margin="5" class="h2 bold"></Label>
                                <Label row="1" col="0" [text]="product.description" margin="5" class="h2"></Label>
                                <Label row="0" col="1" [text]="product.price | currency:'EUR'" margin="5" class="h2"></Label>
                            </GridLayout>
                            <StackLayout orientation="horizontal" padding="5 10">
                                <Button (tap)="select(product)" text="Load" class="product-button" width="43%"></Button>
                           	    <Button (tap)="remove(product, productElement)" text="Destroy!" class="product-button" width="43%"></Button>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                </ScrollView>
            </GridLayout>
        </StackLayout>
    </GridLayout>
</GridLayout>

